/* CSS BACKGROUND */
body {
    background: url(beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    background: blue;
    border: orange 6px double;
}

p {
    color: yellow;
}

span {
    background: red;
    color: black;
}
