@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #011627;
    color: white;
    text-align: center;
    border: 40px solid #2ec486;
    border-top: 0px;
    margin: 0rem auto;
}

p {
    padding: 2% 20%;
}

form {
    font-size: 1.5em;
    margin-bottom: 10px;
}


#sub {
    background: #ff9f1c;
    height: 80px;
    width: 150px;
    margin-top: 4px;
    font-size: 1em;
    border-radius: 25px;
}